#notification {
    width: 500px;
    height: 170px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
    background-color: #4299e1;
  
  }
  #notification h2 {
    margin-top: 0;
    color: white;
  }
  #notification p{
    margin-top:10px;
    color: white;
  }
  #notification button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-left:0px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
    border: none;
  }
  